
td{
	font-size:9pt;
}

a:visited{
	color:#666666;
	font-size:9pt;

	text-decoration:none;
}
a:hover{
	color:#666666;
	font-size:9pt;
	text-decoration:underline;
}
a:link{
	color:#666666;
	font-size:9pt;
	text-decoration:none;
}

.TopToolFont
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}
a.TopToolFont:visited{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
a.TopToolFont:hover{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}
a.TopToolFont:link{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
.UserInfoFont{
	color:#999999;
	font-size:9pt;
}
.NavFont{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
}
a.NavFont:visited{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;	
}
a.NavFont:hover{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
a.NavFont:link{
	color:#FFFFFF;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
.NavBtnBorder{
	background-color:#cccccc;
}
.NavBtnFace{
	background-color:#B7B7B7;
}
.BanTitleFont{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	word-spacing: 1pt;

}



.MyNavFont{
	color:#999999;
	font-size:9pt;
	font-weight:bold;
}
a.MyNavFont:visited{
	color:#999999;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
a.MyNavFont:hover{
	color:#999999;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
a.MyNavFont:link{
	color:#999999;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}


.AlertFont{
	color:#E33539;
	font-size:9pt;

}
a.AlertFont:visited{
	color:#E33539;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}
a.AlertFont:hover{
	color:#E33539;
	font-size:9pt;
	font-weight:bold;

}
a.AlertFont:link{
	color:#E33539;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}


.BanBgColor{
	background-color:#ffffff;
}


.ModuleTitle
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	line-height:20px;
	background-color:#f5f5f5;
	}
.ModuleItemName
{
	color:#666666;
	font-weight:bold;
	background-color:#f5f5f5
	}
.ModuleItemValue
{
	color:#999999;
	background-color:#ffffff;
	}
.ModuleFrame
{
	background-color:#CCCCCC;
	}

.DataItemHeader
{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	background-color:#999999;
	}
.DataItemList
{
	color:#999999;
	font-size:9pt;
	line-height:20px;
	background-color:expression(onmouseover=function(){this.style.backgroundColor='#f5f5f5'},onmouseout=function(){this.style.backgroundColor='#ffffff'});
	}	

.ImgLogo{
	background-image:url("../images/prored/Logo.gif");
}
.ImgBanLeft1{
	background-image:url("../images/prored/BanLeft1.gif");
}
.ImgUseInfoBg{
	background-image:url("../images/prored/UseInfoBg.gif");
}
.ImgUseInfoPic{
	background-image:url("../images/prored/UseInfoPic.gif");
}
.ImgUseInfoTitle{
	background-image:url("../images/prored/UseInfoTitle.gif");
}
.ImgUseInfoSplit{
	background-image:url("../images/prored/UseInfoSplit.gif");	
}
.ImgTopBan1{
	background-image:url("../images/prored/TopBan1.gif");
}
.ImgTopBan2{
	background-image:url("../images/prored/TopBan2.gif");
}
.ImgTopBan3{
	background-image:url("../images/prored/TopBan3.gif");

}
.ImgBanLeft2{
	background-image:url("../images/prored/BanLeft2.gif");
}

.ImgNavSplitDot{
	background-image:url("../images/prored/NavSplitDot.gif");
}

.ImgPersonalNavArrow{
	background-image:url("../images/prored/PersonalNavArrow.gif");
}
.ImgBottom1{
	background-image:url("../images/prored/Bottom1.gif");
}
.ImgBottom2{
	background-image:url("../images/prored/Bottom2.gif");
}
.ImgBottom3{
	background-image:url("../images/prored/Bottom3.gif");
}
.ImgBottom4{
	background-image:url("../images/prored/Bottom4.gif");
}
.ImgBottomIconEmail{
	background-image:url("../images/prored/BottomIconEmail.gif");
}
.ImgBottomIconTel{
	background-image:url("../images/prored/BottomIconTel.gif");
}
.ImgBanBg{
	background-image:url("../images/prored/BanBg.gif");
}
.ImgBanTop1{
background-image:url("../images/prored/BanTop1.gif");
}
.ImgBanTop2{
background-image:url("../images/prored/BanTop2.gif");
}
.ImgBanTop3{
background-image:url("../images/prored/BanTop3.gif");
}
.ImgBanBottom1{
	background-image:url("../images/prored/BanBottom1.gif");
}
.ImgBanBottom2{
	background-image:url("../images/prored/BanBottom2.gif");
}
.ImgBanToolEdit{
	background-image:url("../images/prored/BanToolEdit.gif");
}
.ImgBanToolMaxWin{
	background-image:url("../images/prored/BanToolMaxWin.gif");
}
.ImgBanToolColaps{
	background-image:url("../images/prored/BanToolColaps.gif");
}
.ImgBanToolColapsShow{
background-image:url("../images/prored/BanToolColapsShow.gif");
}
.ImgBanToolColapsHide{
background-image:url("../images/prored/BanToolColapsHide.gif");
}
.ImgBanToolDelete{
	background-image:url("../images/prored/BanToolDelete.gif");
}
.ImgBanInfoArrow{
background-image:url("../images/prored/BanInfoArrow.gif");
}
.ImgBanInfoArrowBack{
background-image:url("../images/prored/BanInfoArrowBack.gif");
}
.ImgBanInfoSplitDot{
background-image:url("../images/prored/BanInfoSplitDot.gif");
}




.SearchDataIcon
{
	background-image:url("../images/SearchDataIcon.gif");
}
.AddDataIcon
{
background-image:url("../images/AddDataIcon.gif");
}
.EditDataIcon
{
background-image:url("../images/EditDataIcon.gif");
}
.DeleteDataIcon
{
background-image:url("../images/DeleteDataIcon.gif");
}
.ConfigDataIcon
{
background-image:url("../images/ConfigDataIcon.gif");
}
.ConfigAppDataIcon
{
background-image:url("../images/ConfigAppDataIcon.gif");
}
.ConfigAppIcon
{
background-image:url("../images/ConfigAppIcon.gif");
}
.InitUserPWDIcon
{
	background-image:url("../images/ChangePWDIcon.gif");
}
.BackIcon
{
background-image:url("../images/BackIcon.gif");
}
.MoveFirstIcon{
background-image:url("../images/prored/MoveFirstIcon.gif");
}
.MovePrevIcon{
background-image:url("../images/prored/MovePrevIcon.gif");
}
.MoveNextIcon{
background-image:url("../images/prored/MoveNextIcon.gif");
}
.MoveLastIcon{
background-image:url("../images/prored/MoveLastIcon.gif");
}


.ItemMoveUpIcon
{
	background-image:url("../images/prored/ItemMoveUpIcon.gif");
}
.ItemMoveDownIcon
{
	background-image:url("../images/prored/ItemMoveDownIcon.gif");
}
.ItemMoveLeftIcon
{
	background-image:url("../images/prored/ItemMoveLeftIcon.gif");
}
.ItemMoveRightIcon
{
	background-image:url("../images/prored/ItemMoveRightIcon.gif");
}
.ItemDeleteIcon
{
	background-image:url("../images/prored/ItemDeleteIcon.gif");
}
.ItemAddIcon
{
	background-image:url("../images/prored/ItemAddIcon.gif");
}

.AppTreeNode
{
	padding-left:8px;
	font-size:9pt;
	line-height:18px;
	
}


.AppLeaveNode
{
	color:#B7B7B7;
	text-decoration:underline;
	 
}
.AppNotLeaveNode
{
	color:#B7B7B7;
	font-weight:bold;
}

