<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<pages validateRequest="false"></pages>-->
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
<customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering> 
    </security>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        </staticContent>
  </system.webServer>
  <appSettings>
    <!--应用ID设置
       ID为在构架基础服务平台中设置的应用ID
       为整数类型
      -->
    <add key="AppId" value="122" />
    <!--日志文件地址 -->
    <add key="WebLogFile" value="C:\inetpub\wzreport\upload\zjaf_web_error.log" />
    <!--登录门户网址
        -->
    <add key="GateWayUrl" value="http://10.48.128.39/showbar/login.aspx" />
    <!--session保存功能点数量值，如果用户功能点数量超过这个值，则不再保存在session中-->
    <add key="AppInSessionCount" value="35" />
    <!--报表服务器URL-->
    <add key="RpsUrl" value="http://xxx.xx.xx.xx/reportserver/" />
    <!--报表服务器用户名-->
    <add key="RpsUserName" value="xxxx" />
    <!--报表服务器用户名密码-->
    <add key="RpsUserPwd" value="xxxx" />
    <!--报表服务器域名-->
    <add key="RpsDomainName" value="ZJ" />
    <!--CSS路径-->
    <add key="FrameCssPath" value="/Content/css/littleyellow.css" />
    <!--配置是否在单网页的调试状态，-->
    <add key="IsDebugState" value="false" /> 
    <!--调试中使用的人员编号-->
    <add key="DebugUserId" value="2514" />
    <!--调试中使用的人员编号-->
    <add key="DebugUserCode" value="13303637" />
    <!--调试中使用的人员编号-->
    <add key="DebugBranch" value="330300" />
    <add key="ReqCodeConfig" value="reqCode.cfg;" />
    <add key="ProcedureConfig" value="Demo/procedure.cfg;procedure.cfg" />
    <add key="LogLvl" value="3" />
    <!--调试级别：0：不打印任何日志，1：错误日志，2：信息日志，3：调试日志-->
    <add key="LogDir" value="d:\WX\Log\CM" />
    <!--框架使用版本：H5：material模板(该版本不能用于低版本浏览器)，H4:bootstrap模板，H3：老版本。如动态根据浏览器的版本来选择则使用：H5-H4:IE9及以上使用material模板否者使用bootstrap模板-->
    <add key="WebV" value="H5" />
    <!--日志目录-->
    <add key="RSAKeyDir" value="d:\WX\RSA\" />
    <add key="DESEncryptKey" value="9551911095519110" />
    <add key="WebEntranceRoot" value="http://localhost:44878/" />
    <!--WEB的路径-->
    <add key="TokenExpireMinutes" value="5" />
    <!--命令行发出的VIEW消息链接5分钟内有效-->
    <!--异常输入检查-->
    <add key="FILTER_KEY_WORD" value="select|insert|delete|from|drop table|update|truncate|exec master|netlocalgroup administrators|net user|or|and" />
    <add key="FILTER_SPECIAL_CAHR" value="--|,|(|)|[|]|}|{|%|@|*|!|'|0x3c|0x3d" />
    <!--短信发送服务URL-->
    <add key="MsgUrl" value="http://10.48.1.123:8077/ZjInterPartnerInterface.aspx" />
    <!--短信发送凭据-->
    <add key="PartnerId" value="c33d3695-9fee-4c71-be41-1e485c0b3afe" />
    <!--应用页面文件夹-->
    <add key="PageFilePath" value="ApplPage" />
  </appSettings>
  <connectionStrings>
    <add name="CSIPDB" connectionString="Data Source=10.48.0.90;Initial Catalog=zjapp;Persist Security Info=True;user id=testsa;password=DYGChGH11" providerName="System.Data.SqlClient" />
    <add name="defaultDb" connectionString="Data Source=10.48.0.90;Initial Catalog=zjwz;Persist Security Info=True;user id=testsa;password=DYGChGH11" providerName="System.Data.SqlClient" />
    <add name="WebFrameDb" connectionString="Data Source=10.48.0.90;Initial Catalog=zjweixin;Persist Security Info=True;user id=testsa;password=DYGChGH11" providerName="System.Data.SqlClient" />
    <add name="ZjApplicationDb" connectionString="Data Source=10.48.0.90;Initial Catalog=ZjApplication;Persist Security Info=True;user id=testsa;password=DYGChGH11" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAppFrameService" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<bindings> 
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAppFrameService"/>
      </basicHttpBinding>
    </bindings>-->
    <client>
      <endpoint address=" http://10.48.144.93:88/Dev " binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppFrameService" contract="ServiceReference1.IAppFrameService" name="BasicHttpBinding_IAppFrameService" />
      <!--<endpoint address=" http://appframe.zj.clic:88/service " binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppFrameService" contract="ServiceReference1.IAppFrameService" name="BasicHttpBinding_IAppFrameService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Zj.AppFrame.WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppFrameService"
                contract="ServiceReference1.IAppFrameService" name="BasicHttpBinding_IAppFrameService"/>-->
    </client>
  </system.serviceModel>
</configuration>